# Global ignores
*.rdb
credentials.yaml
.vscode
node_modules

# CDK 
/lib/*.js
/bin/*.js
!jest.config.js
*.d.ts
node_modules

dist

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
!/bin
